
<%- include('partials/head'); %>

<body>
    <%- include('partials/navbar'); %>

    <h1> Browsing the <%= name %> subreddit </h1>
    <h2><%= description %></h2>
    <p>Total Subscribers: <%= subscribers%></p>
    <hr>

    <% for (let post of posts) {%>
        <article>
            <h3><%= post.title %> - <b><%=post.author%></b></h3>
            <% if(post.img){%>
                <img src="<%=post.img%>" alt="">
            <%}%>
        </article>
    <%}%>
</body>
</html>