<% layout('layouts/boilerplate')%>

    <h1>edit</h1>
    <form action="/campgrounds/<%=campground._id%>?_method=PUT" method="POST">
        <input type="text" name="campground[title]" id="title"
        value="<%=campground.title%>">
        <br>
        <input type="number" name="campground[price]" id="price"
        value="<%=campground.price%>">
        <br>
        <input type="text" name="campground[description]" id="description"
        value="<%=campground.description%>">
        <br>
        <input type="text" name="campground[location]" id="location"
        value="<%=campground.location%>">
        <button>Submit</button>
    </form>
    <a href="/campgrounds/<%=campground._id%>">Back to Campground</a>
